*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.fa-solid fa-mobile{
    color: white;
}
.hero-section{
    background: url(/images/heroSectionBackground.png);
    color: white;
    min-height:60vh ;
    background-position: center;
    background-size: cover;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 16px 170px;
    height: 60px;
    font-size: 13px;
}

.link,
.link1,
.user-icon{
    text-decoration: none;
    color: white;
}
.nav-bar-menu-container{
    display: flex;
    gap: 23px;
}


.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(60vh - 60px);
    gap: 30px;
}
.hero-section-logo{
    width: 270px;
    
}
.hero-section-title{
    font-weight: 400;
    text-align: center;
    font-size: 30px;

}
.hero-section-input{
    margin: 0 0 50px;
}
.hero-section-input{
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 53px;


    
}
.input-type-location,
.input-type-search{
    border: none;
    outline: none;
    /* width: 100%; */
    padding: 5px;
}
.input-type-location{
    width: 30%;
    margin-left: 2%;
    border-right: 2px solid #e0e0e0;
}
.input-type-search{
    width: 70%;
}














@media screen and (min-width:687px){
    .user-icon{
        display: none;

    }
}
@media screen and (max-width:687px){
    .link{
        display: none;
    }
    .nav-bar{
        padding: 16px;
    }
    .hero-section{
        height: 75vh;
       
    }
    .user-icon{
        height: 35px;
        width: 35px;
        border-radius: 100%;
        border: solid 1px white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(239, 79, 95);
    }
    .hero-container{
        height: calc(75vh - 60px);
    }
    .hero-section-input{
           
           flex-direction: column;
           background: transparent;
           gap: 15px;
           width: 95%;
    }
    .input-type-location,
   .input-type-search{
    border: none;
    outline: none;
    /* width: 100%; */
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    
}
}